*{
    color:  hsl(25, 97%, 53%);
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Passion One', cursive;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
}
body{
    background-color: hsl(216, 12%, 8%);
}
.content{
    background-color: hsl(213, 19%, 18%);
    width:20%;
    margin: 150px auto;
    border-radius: 15px;
    padding: 40px 20px;
}

.star{
    background-color: hsl(216, 12%, 8%);
    padding: 8px;
    border-radius: 50%;
    margin: 0px 0px 20px 0px;
}

h1{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}
p{
    font-size: 12px;
    color:hsl(217, 12%, 63%);
}

.rate{
    width:100%;
    margin: 40px auto;
    display:flex;
    justify-content: space-between;
    justify-items: center;
}

.rate span{
color: hsl(217, 12%, 63%);
background-color:  hsl(216, 12%, 8%);
padding: 8px 14px;
border-radius: 50%;
}

.rate span:hover{
    color:hsl(0, 0%, 100%);
    background-color: hsl(217, 12%, 63%);
}

.btn{
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 10px;
    text-align: center;
    border: none;
    padding: 4px 0px;
    width:100%;
}

.btn:hover{
    background: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.message{
    width: 19%;
    margin: 150px auto;
    text-align: center;
    background:hsl(213, 19%, 18%);
    padding: 20px;
    border-radius:10px;
    display:none;
}

.selected{
    padding: 4px 10px;
    background: hsl(216, 12%, 8%);
    border-radius: 10px;
    font-size: 10px;
    border: none;
}


@media only screen and (max-width: 600px){
    .content{
        width:60%;
        margin: 100px auto;
    }

    .message{
        width: 75%;
        margin: 100px auto;
        text-align: center;
        background:hsl(213, 19%, 18%);
        padding: 20px;
        border-radius:10px;
        display:none;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 900px){
    .content{
        width:40%;
        margin: 100px auto;
    }

    .message{
        width: 40%;
        margin: 100px auto;
    }
    
}